.DS_Store
*~
/netbeans/lib/bundler/*.txt
netbeans/lib/bundler/output/
/netbeans/nbproject/private/
/netbeans/build/
/netbeans/dist/
/povfile/nbproject/private/
/test/nbproject/private/
/test/build/
/povfile/build/
/PCT/nbproject/private/
/PCT/build/
/PCT/povfile/nbproject/private/
/PCT/pctproject/nbproject/private/
/PCT/povfile/build/
/PCT/pctfile/build/
/PCT/pctproject/build/
/PCT/pctfile/nbproject/private/
/PCT/povray/nbproject/private/
/PCT/geodata/nbproject/private/
/PCT/bundler/nbproject/private/
/PCT/bundler/build/
/PCT/geodata/build/
/PCT/povray/build/
/PCT/dist/
/PCT/povray/src/org/vanamco/huvis/modules/povray/templates/EmptyPovrayProjectProject.zip
/PCT/povray/src/org/vanamco/huvis/modules/povray/templates/SamplePovrayProjectProject.zip
/PCT/povapi/build/
/PCT/povapi/nbproject/private/
/PCT/pctmainproject/src/org/vanamco/huvis/modules/pctmainproject/templates/SamplePCTProjectProject.zip
/PCT/pctmainproject/src/org/vanamco/huvis/modules/pctmainproject/templates/EmptyPCTProjectProject.zip
/PCT/bundlerapi/nbproject/private/
/PCT/bundlerapi/build/
/PCT/pctmainproject/build/
/PCT/pctmainproject/nbproject/private/
/PCT/toolbox/build/
PCT/pctmainproject/src/com/vanamco/huvis/modules/pctmainproject/templates/EmptyPCTProjectProject.zip
PCT/pctmainproject/src/com/vanamco/huvis/modules/pctmainproject/templates/SamplePCTProjectProject.zip
